h1{
    font-family: 'Bakbak One', serif;
    font-size: 18px;
    font-weight: 500;
    color: white;
}

nav{
    font-family: "Playpen Sans", cursive;
}
.custom-link{
    @apply flex items-center space-x-3 py-2 px-6  hover:bg-gray-200 rounded-l-full hover:text-gray-600 active:text-[#086568] active:bg-white;
}